$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$bg-color: #f1f1f1;
$blue-color: #05165B;
$red-color: #BD0309;

body {
    margin: 0px;
    border: 0px;
    font: 100% $font-stack;
    color: $primary-color;
}

h1 {
    color: $red-color;
}

.header {
    border-top: 1px $bg-color solid;
    background-color: $bg-color;
    padding: 20px;
    .nav a { 
        font-weight: bold;
        color: $blue-color;
        padding: 10px;
        text-decoration: none;
    }
    .nav a:hover { 
        text-decoration: underline;
    }
}

.main {
    padding: 50px;

}

.footer {
    padding: 20px;
    position:fixed;
    bottom:0px;
    right:0px;
    height:20px;
    width:100%;
    background-color:#f1f1f1;
    text-align: right;
}
