body {
  margin: 0px;
  border: 0px;
  font: 100% Helvetica, sans-serif;
  color: #333333; }

h1 {
  color: #bd0309; }

.header {
  border-top: 1px #f1f1f1 solid;
  background-color: #f1f1f1;
  padding: 20px; }
  .header .nav a {
    font-weight: bold;
    color: #05165b;
    padding: 10px;
    text-decoration: none; }
  .header .nav a:hover {
    text-decoration: underline; }

.main {
  padding: 50px; }

.footer {
  padding: 20px;
  position: fixed;
  bottom: 0px;
  right: 0px;
  height: 20px;
  width: 100%;
  background-color: #f1f1f1;
  text-align: right; }
